<phpunit colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">vendor/</directory>
            <directory suffix=".php">test/</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="ZF Statsd Module Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
